body {
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff8f6;
  color: #333;
}

/* Header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 25px;
  padding: 20px;
  transition: background-color ease 0.3s;
  z-index: 5;
}

header.scrolled {
  background-color: #f986bd;
}

header.scrolled nav a,
header.scrolled nav ul li {
  color: #fff;
}

header.scrolled .default_img {
  opacity: 0;
}

header.scrolled .hover_img {
  opacity: 1;
}

header:hover {
  background-color: #f986bd;
}

header:hover nav a {
  color: #fff;
}

header:hover .default_img {
  opacity: 0;
}

header:hover .hover_img {
  opacity: 1;
}

nav ul li:hover {
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  translate: -570px;
  font-size: 13px;
}

nav ul .logo_img {
  position: relative;
  margin-right: 20px;
}

.logo_img .hover_img {
  position: absolute;
  left: 1px;
  top: 1px;
  /* transition: opacity 0.3s ease; */
}

.default_img {
  opacity: 1;
  z-index: 1;
}

.hover_img {
  opacity: 0;
  z-index: 2;
}

nav ul img {
  margin-right: 20px;
  margin-bottom: 5px;
}

nav ul li {
  margin-top: 22px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.icons {
  font-size: 220%;
  float: right;
  margin-right: 130px;
  transform: translateY(-55px)
}

.icons .underline {
  position: absolute;
  right: 67px;
}

/* Main Banner */
.main {
  position: relative;
  display: block;
  background: #fff0f5;
}

.main_banner {
  display: block;
  text-align: center;
  padding: 40px 20px;
  background: #fff0f5;
}

.main_banner img {
  max-width: 100%;
  border-radius: 12px;
}

.main_banner img:nth-child(1) {
  position: absolute;
  margin-top: -130px;
  z-index: 1;
}

.main_banner img:nth-child(2) {
  position: relative;
  margin: 0 0 0 30px;
  bottom: 32px;
  border-radius: 15%;
}

.main_components {
  position: absolute;
  top: 40px; 
  right: 130px;        
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 3;
}

/* Promotions */
.promotions {
  height: 750px;
  padding: 40px 20px;
  background-color: #fff;
}

.promotions h2 {
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 45px;
  margin-bottom: -10px;
  color: #ada495c1;
}

.promotions h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 80px;
  font-weight: 1;
}

.promotions ul {
  list-style: none;
  padding: 0;
}

.promotion-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.promotion-card {
  width: 300px;
  overflow: hidden;
}

.promotion-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.promo-text {
  padding: 15px;
  text-align: left;
  color: #c3ae9f79;
}

.promo-text h4 {
  float: left;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: -0.5px;
}

.promo-text hr {
  width: 700px;
  margin: 10px auto;
  border: 1px solid #f0e7d9c4;
}

.promo-text p {
  margin-top: 25px;
  font-size: 15px;
  color: #666;
}

/* New Items */
.new_items {
  height: 900px;
  padding: 40px 20px;
  background-color: #ffe4ea;
}

.new_items h2 {
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 45px;
  margin-bottom: -10px;
  color: #ada495c1;
}

.new_items h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 80px;
  font-weight: 1;
}

.new_items ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.new_items li {
  width: 150px;
  text-align: center;
}

.new_items img {
  width: 100%;
  border-radius: 10px;
}

/* BR Play */
.br_play {
  height: 820px;
  padding: 40px 20px;
  background-image: url('/public/bg_play.jpg');
  text-align: center;
}

.br_play img {
  transform: translateY(-290px);
}

.br_play h2 {
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 55px;
  font-weight: 100;
  margin-top: 130px;
  margin-bottom: -10px;
  color: #000;
}

.br_play p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 80px;
  font-weight: 1;
  color: #000;
}

.br_play .play_mainimg {
  align-items: center;
  transform: translateY(-640px);
}

.br_play .play_mainimg img {
  margin-right: 10px;
}


/* Be Better */
.be-better {
  padding: 40px 20px;
  background-color: #e0f7fa;
}

.be-better ul {
  list-style: disc;
  margin-left: 20px;
}

/* Store Locator */
.br_benefit {
  padding: 40px 20px;
  background: #f3e5f5;
  text-align: center;
}

.br_benefit h2 {
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 55px;
  font-weight: 100;
  margin-top: 70px;
  margin-bottom: -10px;
  color: #ada495c1;
}

.br_benefit h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 80px;
  font-weight: 1;
  color: #ada495c1;
}

.br_benefit h4 {
  text-align: center;
  font-family: "Titan One", sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin-top: 70px;
  margin-bottom: -10px;
  color: #ada495c1;
}


/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: #ffd1dc;
  text-decoration: none;
}
